@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
  text-align: center;
  margin:auto;
  width:fit-content;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family:'Times New Roman', Times, serif;
  color:rgb(63, 37, 37);
}
 button {
  color:rgb(99, 55, 55);
  background-color: rgb(255, 210, 217);
  border: 10px;
  align-center;
  
  
 }
 .fb { color:rgb(63, 37, 37);
  background-color: rgb(236, 182, 190);
 }
.cb {
  color:rgb(63, 37, 37);
  background-color: rgb(255, 163, 194);
  border-radius: 20px;
  padding: 20px;
}
  img {
border-radius: 20px;
  }
 